.header{
  height: 150px;
}
.baner{
  position: relative;
  height: 65px;
  width: 100%;
}
.logo{
  height: 80px;
  width: 100px;

}

.search{
  padding-top: 20px;
  width: 10px;
}

.text{
  padding-top: 20px;
}
.botones{
  --background: black;
  --border: 2px  #FF028B ;
  width: 110px;
  font-size: 12px;
}

.botones:hover{
  --background: transparent;
  --border-color: #FF028B;
  --border-style: solid;
  --border-width: 2px;

}

.botoncarrito{
  --background:#FF028B;
  border: 2px  #FF028B ;
  width: 110px;
  height: 30px;
}

.botoncarrito:hover{
  --background: transparent;
  --border-color: #FF028B;
  --border-style: solid;
  --border-width: 2px;

}

.fondo{
  --background: #EFEFEF;
}

.fondo2{
  --background: #C5C5C5;
}

///////////////////////////////

.banertienda{
  height: 200px;
  width: 1500px;
}

.img-tarjeta{
  width: 100%;
  height: 250px;
}

.baner-oferta{
  height: 200px;
}

/////////////////// tarjeta de productos

.tarjeta-producto{
  height: 290px;
  width: 240px;
  border-radius: 10px;
}

.fondoProducto{
  --background: url('/assets/fondomesa2.png') no-repeat center center fixed;
  height: 130px;
  width: 220px;
  border-radius: 10px;
}

.img-producto{
  height: 140px;
  width: 270px;
}

.botonagregar{
--background:#FF028B;
--border: 2px  #FF028B ;
}


////////////////swiper

swiper-slide{
  padding-bottom: 30px;
}



// iconos info

.logo2{
  padding-left: 10%;
  padding-right: 10%;
}

.infoicono{
  height: 60px;
  width: 60px;
  padding-left: 40%;
}

.texticono{
  text-align: center;
}
