<!-- ion-header: Encabezado de la página -->
<ion-header [translucent]="true">
<ion-toolbar color="primary" class="header">
  <!-- Logo y botones de navegación -->
  <ion-img class="baner" src="assets/banner3.1.png"></ion-img>
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="1" ><ion-img class="logo" src="assets/S&M (2).png"></ion-img></ion-col>
    <ion-col size="3" class="search"><ion-searchbar show-clear-button="always" clear-icon="trash-bin" placeholder="Buscar"></ion-searchbar></ion-col>
    <ion-col size="1"></ion-col>
    <ion-col size="1" class="text" [routerLink]="['/productos']"><ion-button  class="botones">Productos</ion-button></ion-col>
    <ion-col size="1" class="text" [routerLink]="['/categorias']"><ion-button  class="botones">Categorias</ion-button></ion-col>
    <ion-col size="1" class="text" [routerLink]="['/carrito']"><ion-button fill="solid" class="botoncarrito"><ion-icon name="cart-outline"></ion-icon></ion-button></ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</ion-toolbar>
</ion-header>

<ion-menu-button><ion-button fill="solid" class="botoncarrito"><ion-icon name="cart-outline"></ion-icon></ion-button></ion-menu-button>

<!-- ion-content: Contenido principal de la página -->
<ion-content [fullscreen]="true" class="fondo">
<!-- Imagen de la tienda -->
<ion-toolbar class="fondo" >
  <ion-row>
    <ion-col size="1">
    </ion-col>
    <ion-col size="10"  >
      <swiper-container  #swiper initial-slide="0" [navigation]="true" (afterinit)="swiperReady()" (slidechange)="swiperSlideChanged($event)"[loop]="true"[pagination]="{type:'bullets', clickable:true}" [autoplay]="{type:'delay'}">  
        <swiper-slide>
          <ion-img src="assets/banerBlackFriday.png" ></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/Distribuidora.png" ></ion-img>
        </swiper-slide>
        <swiper-slide>
          <ion-img src="assets/chrıstmas sale.png" ></ion-img>
        </swiper-slide>
      </swiper-container>
    </ion-col>
    <ion-col size="1">
    </ion-col>
  </ion-row>
</ion-toolbar>



<!-- Sección de productos -->
<ion-toolbar class="fondo" *ngFor="let categoria of categorias">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-grid>
        <ion-row>
          <ion-card *ngFor="let producto of productosPorCategoria[categoria]" class="tarjeta-producto" >
            <ion-card class="fondoProducto">
              <img src="{{producto.imagen}}" class="img-producto" (click)="Navigate(producto)"/>
            </ion-card>
            <ion-card-header>
              <ion-card-title>{{producto.nombre}}</ion-card-title>
              <ion-card-subtitle>Precio:{{producto.valor_produc | currency:'COP':'$':'1.0-0'}}</ion-card-subtitle>
              <ion-col size="12"><ion-button expand="block" class="botonagregar" (click)="addItems(producto)">agregar al carrito</ion-button></ion-col>
            </ion-card-header>
          </ion-card>
        </ion-row>
      </ion-grid>

    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-toolbar>

<!-- Banner de oferta -->
<ion-toolbar class="fondo">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-img src="assets/Aprovecha.png"></ion-img>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-toolbar>

<ion-toolbar class="fondo2">
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10">
      <ion-toolbar class="fondo2">
        <ion-row>
          <ion-col size="2.4">
            <ion-img src="assets/marcas/aldor.jfif"></ion-img>
          </ion-col>
          <ion-col size="2.4">
            <ion-img src="assets/marcas/super.jfif"></ion-img>
          </ion-col>
          <ion-col size="2.4">
            <ion-img src="assets/marcas/colombina.jfif"></ion-img>
          </ion-col>
          <ion-col size="2.4">
            <ion-img src="assets/marcas/nestle.jpg"></ion-img>
          </ion-col>
          <ion-col size="2.4">
            <ion-img src="assets/marcas/mondelez.jpg"></ion-img>
          </ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-toolbar>

<!-- Pie de página con información de contacto -->
<ion-toolbar color="primary">
  <ion-row class="navegacion">
    <ion-col size="1"></ion-col>
    <ion-col size="2">Derechos reservados </ion-col>
    <ion-col size="2">Telefono: +57 301 7006764 </ion-col>
    <ion-col size="3">Dirección: Cl 19A #96c-40, Bogotá</ion-col>
    <ion-col size="4"></ion-col>
  </ion-row>
</ion-toolbar>

</ion-content>