//header
.header{
  height: 150px;
}
.baner{
  position: relative;
  height: 65px;
  width: 100%;
}
.logo{
  height: 80px;
  width: 100px;

}

.search{
  padding-top: 20px;
  width: 10px;
}

.text{
  padding-top: 20px;
}
.botones{
  --background: black;
  --border: 2px  #FF028B ;
  width: 110px;
  font-size: 12px;
}

.botones:hover{
  --background: transparent;
  --border-color: #FF028B;
  --border-style: solid;
  --border-width: 2px;

}

.botoncarrito{
  --background:#FF028B;
  border: 2px  #FF028B ;
  width: 110px;
}

.botoncarrito:hover{
  --background: transparent;
  --border-color: #FF028B;
  --border-style: solid;
  --border-width: 2px;

}

.fondo{
  --background: #EFEFEF;
}

//margen del detalle

.pading{
padding: 50px;
}

//imagen del producto

.fondo-producto{
  --background: url('/assets/fondo_pared.png') no-repeat center center fixed;
//--background: linear-gradient(to bottom right,#FF028B,#FF229A,#FF41A8,#FF61B7,#FF81C5,#FFA0D4,#FFC0E2,#FFDFF1);
height: 350px;
width: 500px;
border-radius: 5%;
}

.imagendetalle{

}

.tarjetainfo{
height: 700px;
}

.nombreProduc{
  font-size: larger
}

.descrip{
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  padding-right: 5%;
  text-align: justify;
}

.textDetalle{
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
}

.botonrestar{
  width: 30px;
  height: 30px;
}

.cantidad{
font-size: 20px;
padding: 5px;
}

.botonsumar{
  width: 30px;
  height: 30px;
}

.total{
  font-family: 'Times New Roman', Times, serif;
  padding-top: 15px;
  padding-left: 30%;
}

.botonagregar{
--background:#FF028B;
--border: 2px  #FF028B;
height: 30px;
}

.cajatexto{
height: 50%;
text-align: justify;
}

.cajaitems{
  height: 30%;
}


