<!-- ion-header: Encabezado de la página -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <!-- Logo y botones de navegación -->
    <ion-img class="baner" src="assets/banner3.1.png"></ion-img>
    <ion-row >
      <ion-col size="2"></ion-col>
      <ion-col size="1" [routerLink]="['/home']"><ion-img class="logo" src="assets/S&M (2).png"></ion-img></ion-col>
      <ion-col size="3" class="text" [routerLink]="['/informacion']"><ion-button>Distribuidora y detallitos sym</ion-button></ion-col>
      <ion-col size="1" class="text" [routerLink]="['/home']"><ion-button  class="botones">Inicio</ion-button></ion-col>
      <ion-col size="1" class="text" [routerLink]="['/productos']"><ion-button  class="botones">Productos</ion-button></ion-col>
      <ion-col size="1" class="text" [routerLink]="['/categorias']"><ion-button  class="botones">Categorias</ion-button></ion-col>
      <ion-col size="1" class="text"><ion-button fill="solid" class="botoncarrito" [routerLink]="['/carrito']" ><ion-icon name="cart-outline"></ion-icon></ion-button></ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">
  <ion-toolbar class="fondo" >
    <ion-row class="pading" >
      <ion-col size="12" >
            <ion-toolbar class="pading" class="fondo">
              <ion-row >
                <ion-col size="6" style="padding-left: 10%;">
                  <ion-card class="fondo-producto">
                    <ion-img src="{{imagen}}" alt="" class="imagendetalle"></ion-img>
                  </ion-card>
                </ion-col>
                <ion-col size="6">
                  <ion-row class="cajatexto">
                    <ion-text class="textDetalle"> 
                      <h1 >{{nombre}}</h1>   
                      <h6 >Categoria: {{categoria}}</h6>
                      <h6 >Unidades: {{unidadxcaja}}</h6>
                      <h6 >Precio Producto: {{valor_produc | currency:'COP':'$':'1.0-0'}}</h6>
                      <p class="descrip">{{descrip_produc}}</p>
                    </ion-text>
                  </ion-row>

                  <ion-row class="cajaitems">
                    
                    <ion-col size="12">
                    
                    </ion-col>
                   
                  </ion-row>

                  <ion-row>
                    <ion-col size="2"></ion-col>
                    <ion-col size="8">
                      <ion-row>
                        <!--ion-col size="1" class="bontoncenter"><ion-button class="botonrestar" (click)="restItem()">-</ion-button></ion-col>
                        <ion-col size="1"><div class="total">{{quantity}}</div></ion-col>
                        <ion-col size="1"><ion-button class="botonsumar" (click)="addItem()">+</ion-button></ion-col>
                        <ion-col size="3"><div class="total"> Total: {{total | currency:'COP':'$':'1.0-0'}}</div></ion-col-->
                        <ion-col size="12"><ion-button class="botonagregar" (click)="addItems()">agregar al carrito</ion-button></ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col size="2"></ion-col>
                  </ion-row>


                  
                </ion-col>
              </ion-row>
            </ion-toolbar>

      </ion-col>

    </ion-row>
  </ion-toolbar>


  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


  

  <ion-toolbar color="primary">
  
    <br>
    
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="2"><ion-icon name="call-outline" class="infoicono"></ion-icon></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="2"><ion-icon name="location-outline" class="infoicono"></ion-icon></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="2"><ion-icon name="mail-open-outline" class="infoicono"></ion-icon></ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="2" class="texticono">
        Teléfono
        <br> 
        +57 3017006764</ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="2" class="texticono">
        Dirección
        <br>
        CL 19A #96c-40
        Bogotá - Colombia
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="2" class="texticono">
        Correo electónico
        <br>
        symdetallesss&#64;gmail.com
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
  
  <!-- Pie de página con información de contacto -->
  <ion-toolbar color="primary">
    <ion-row class="navegacion">
      <ion-col size="5"></ion-col>
      <ion-col size="2" class="texticono">
        Diseñado y desarrollado por <u>Darkmoon</u> 
      </ion-col>
      <ion-col size="5"></ion-col>
    </ion-row>
  </ion-toolbar>
  
  </ion-content>
