<!-- ion-header: Encabezado de la página -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <!-- Logo y botones de navegación -->
    <ion-img class="baner" src="assets/banner3.1.png"></ion-img>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="1" [routerLink]="['/home']"><ion-img class="logo" src="assets/S&M (2).png"></ion-img></ion-col>
      <ion-col size="3" class="search"><ion-searchbar show-clear-button="always" clear-icon="trash-bin" placeholder="Buscar"></ion-searchbar></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1" class="text" [routerLink]="['/home']"><ion-button  class="botones">Inicio</ion-button></ion-col>
      <ion-col size="1" class="text" [routerLink]="['/productos']"><ion-button  class="botones">Productos</ion-button></ion-col>
      <ion-col size="1" class="text" [routerLink]="['/categorias']"><ion-button  class="botones">Categorias</ion-button></ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <br>

  <ion-row class="fondo">
    <ion-col size="3"></ion-col>
    <ion-col size="6">
      <ion-row>
        <ion-col size="8">
          <ion-item class="textotitulo" class="fondo"><h1>Mi carrito</h1></ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item class="textotitulo" class="fondo"><h1>Pedido</h1></ion-item>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>

<ion-row *ngFor="let pto of listProducAll; let i = index">
  <ion-col size="3"></ion-col>
  <ion-col size="6">
      <ion-row>
        <ion-col size="8">
          <ion-row>
            <ion-col size="3">
              <ion-card class="cardimagen">
                <img src="{{pto.imagen}}" alt="" class="imagen">
              </ion-card>
            </ion-col>
            <ion-col size="3" class="textoInfo">
              {{pto.nombre}}
              <br>
              {{pto.valor_produc | currency:'COP':'$':'1.0-0'}}
            </ion-col>
            <ion-col size="4">
              <ion-row class="centrarbotones">
                <ion-col size="4"><ion-button (click)="restItem(pto)" class="botonrestar"><ion-icon name="remove-outline" class="iconrestar"></ion-icon></ion-button></ion-col>
                <ion-col size="4"><div class="total">{{pto.cantidad}}</div></ion-col>
                <ion-col size="4"><ion-button (click)="addItem(pto)" class="botonsumar"><ion-icon name="add-outline" class="botonsumar"></ion-icon></ion-button></ion-col>
              </ion-row>
            </ion-col>
            <ion-col size="2" class="centrarbotonbasura">
              <ion-button class="iconoBasura" (click)="eliminarProducto(i)">
                <ion-icon name="trash-outline" ></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="4">
          <ion-row>
            <ion-col size="12"><h1>Subtotal:{{pto.subtotal | currency:'COP':'$':'1.0-0'}}</h1></ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>

  <ion-row class="fondo">
    <ion-col size="3"></ion-col>
    <ion-col size="6">
      <ion-row>
        <ion-col size="8">
          <ion-item class="textotitulo" class="fondo"><h1></h1></ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item class="textotitulo" class="fondo"></ion-item>
          <h1>Total:{{total | currency:'COP':'$':'1.0-0'}}</h1>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>

  <ion-row class="fondo">
    <ion-col size="3"></ion-col>
    <ion-col size="6">
      <ion-row>
        <ion-col size="8">

        </ion-col>
        <ion-col size="4">
          <ion-button expand="block" (click)="presentAlertPrompt()">Pagar</ion-button>
        </ion-col>
      </ion-row>
    </ion-col>
    <ion-col size="3"></ion-col>
  </ion-row>
  
</ion-content>

    <!-- ion-footer: Pie de página de la aplicación -->
    <ion-footer>
      <ion-toolbar color="primary">
        <!-- Información de contacto y derechos reservados -->
        <ion-row class="navegacion">
          <ion-col size="1"></ion-col>
          <ion-col size="2">Derechos reservados</ion-col>
          <ion-col size="1">telefono</ion-col>
          <ion-col size="1">direccion</ion-col>
          <ion-col size="7"></ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-footer>

