<!-- ion-header: Encabezado de la página -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <!-- Logo y botones de navegación -->
    <ion-img class="baner" src="assets/banner3.1.png"></ion-img>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="1"><ion-img class="logo" src="assets/S&M (2).png"></ion-img></ion-col>
      <ion-col size="3" class="search"><ion-searchbar show-clear-button="always" clear-icon="trash-bin" placeholder="Buscar"></ion-searchbar></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1" class="text"><ion-button [routerLink]="['/home']" class="botones">Inicio</ion-button></ion-col>
      <ion-col size="1" class="text"><ion-button [routerLink]="['/productos']" class="botones">Productos</ion-button></ion-col>
      <ion-col size="1" class="text"><ion-button [routerLink]="['/carrito']" fill="solid" class="botoncarrito"><ion-icon name="cart-outline"></ion-icon></ion-button></ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<!-- ion-content: Contenido principal de la página -->

<ion-content [fullscreen]="true" class="fondo">

  <br>
  <br>

  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="2">

      <ion-card class="tarjetainfo" [routerLink]="['/informacion']">
        <ion-row>
          <ion-col size="4">
            <ion-icon name="storefront-outline" style="width: 100px; height: 100px;" class="icon"></ion-icon>
          </ion-col>
          <ion-col size="8">
            <ion-card-header>
              <ion-card-title class="tituloinfo">Domicilios</ion-card-title>
            </ion-card-header>
          </ion-col>
        </ion-row>
        <ion-card-content>
          Bienvenido a SyM, donde la comodidad se encuentra con la calidad. Nos enorgullece ofrecerte la experiencia de
          compra más conveniente, y es por eso que hemos implementado nuestro servicio de domicilios para que no tengas
          que salir de casa.
        </ion-card-content>
      </ion-card>

      <ion-card class="tarjetainfo" [routerLink]="['/informacion']">
        <ion-row>
          <ion-col size="4">
            <ion-icon name="qr-code-outline" style="width: 100px; height: 100px;" class="icon"></ion-icon>
          </ion-col>
          <ion-col size="8">
            <ion-card-header>
              <ion-card-title class="tituloinfo">Pagos</ion-card-title>
            </ion-card-header>
          </ion-col>
        </ion-row>
        <ion-card-content>
          En SyM, hemos simplificado el proceso de pago para que tu experiencia de compra sea aún más
          conveniente. Con nuestra opción de pagos virtuales, puedes completar tus transacciones de forma rápida y
          segura. ¡Descubre la facilidad de comprar con nosotros!
        </ion-card-content>
      </ion-card>

      <ion-card class="tarjetainfo" [routerLink]="['/informacion']">
        <ion-row>
          <ion-col size="4">
            <ion-icon name="person-outline" style="width: 100px; height: 100px;" class="icon"></ion-icon>
          </ion-col>
          <ion-col size="8">
            <ion-card-header>
              <ion-card-title class="tituloinfo">Soporte</ion-card-title>
            </ion-card-header>
          </ion-col>
        </ion-row>
        <ion-card-content>
          En SyM, no solo nos comprometemos a ofrecerte productos de alta calidad, sino que también
          nos preocupamos por brindarte un servicio excepcional. Nuestro equipo de soporte técnico está listo para
          ayudarte en todo momento, asegurando que tengas la mejor experiencia posible.
        </ion-card-content>
      </ion-card>
      
    </ion-col>
    <ion-col size="8">
      <ion-toolbar class="fondo">
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col size="11">
            <ion-accordion-group *ngFor="let categoria of categorias" >
              <ion-accordion value="first" >
                <ion-item slot="header" >
                  <ion-label>{{ categoria }}</ion-label>
                </ion-item>
                <div class="ion-padding" slot="content" class="fondo">
                  <ion-toolbar class="fondo">
                    <ion-row>
                      <ion-col size="1"></ion-col>
                      <ion-col size="10">
                        <ion-grid>
                          <ion-row>
                            <ion-card *ngFor="let producto of productosPorCategoria[categoria]" class="tarjeta-producto" >
                              <ion-card class="fondoProducto">
                                <img src="{{producto.imagen}}" class="img-producto" (click)="Navigate(producto)"/>
                              </ion-card>
                              <ion-card-header>
                                <ion-card-title>{{producto.nombre}}</ion-card-title>
                                <ion-card-subtitle>Precio:{{producto.valor_produc | currency:'COP':'$':'1.0-0'}}</ion-card-subtitle>
                                <ion-col size="12"><ion-button expand="block" class="botonagregar" (click)="addItems(producto)">agregar al carrito</ion-button></ion-col>
                              </ion-card-header>
                            </ion-card>
                          </ion-row>
                        </ion-grid>
                
                      </ion-col>
                      <ion-col size="1"></ion-col>
                    </ion-row>
                  
                  </ion-toolbar>
                </div>
              </ion-accordion>
            </ion-accordion-group>
          </ion-col>
          <ion-col size="0"></ion-col>
        </ion-row>
      </ion-toolbar>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>

  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="5.5"></ion-col>
      <ion-col size="1" [routerLink]="['/home']"><ion-img class="logo2" src="assets/S&M (2).png"></ion-img></ion-col>
      <ion-col size="5.5"></ion-col>
    </ion-row>
  
    <br>
    
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="2"><ion-icon name="call-outline" class="infoicono"></ion-icon></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="2"><ion-icon name="location-outline" class="infoicono"></ion-icon></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="2"><ion-icon name="mail-open-outline" class="infoicono"></ion-icon></ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="2" class="texticono">
        Teléfono
        <br> 
        +57 3017006764</ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="2" class="texticono">
        Dirección
        <br>
        CL 19A #96c-40
        Bogotá - Colombia
      </ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="2" class="texticono">
        Correo electónico
        <br>
        symdetallesss&#64;gmail.com
      </ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
  
  <!-- Pie de página con información de contacto -->
  <ion-toolbar color="primary">
    <ion-row class="navegacion">
      <ion-col size="5"></ion-col>
      <ion-col size="2" class="texticono">
        Diseñado y desarrollado por <u>Darkmoon</u> 
      </ion-col>
      <ion-col size="5"></ion-col>
    </ion-row>
  </ion-toolbar>
  
  </ion-content>




