<!-- ion-header: Encabezado de la página -->
<ion-header [translucent]="true">
  <ion-toolbar color="primary" class="header">
    <!-- Logo y botones de navegación -->
    <ion-img class="baner" src="assets/banner3.1.png"></ion-img>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="1"><ion-img class="logo" src="assets/S&M (2).png"></ion-img></ion-col>
      <ion-col size="3" class="search"><ion-searchbar show-clear-button="always" clear-icon="trash-bin" placeholder="Buscar"></ion-searchbar></ion-col>
      <ion-col size="1"></ion-col>
      <ion-col size="1" class="text"><ion-button [routerLink]="['/home']" class="botones">Inicio</ion-button></ion-col>
      <ion-col size="1" class="text"><ion-button [routerLink]="['/productos']" class="botones">Productos</ion-button></ion-col>
      <ion-col size="1" class="text"><ion-button [routerLink]="['/carrito']" fill="solid" class="botoncarrito"><ion-icon name="cart-outline"></ion-icon></ion-button></ion-col>
      <ion-col size="2"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<!-- ion-content: Contenido principal de la página -->
<ion-content [fullscreen]="true" class="fondo">

  <br>
  <br>

  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-accordion-group *ngFor="let categoria of categorias">
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>{{ categoria }}</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content" class="fondo">
            <ion-toolbar class="fondo">
              <ion-row>
                <ion-col size="1"></ion-col>
                <ion-col size="10">
                  <ion-grid>
                    <ion-row>
                      <ion-card *ngFor="let producto of productosPorCategoria[categoria]" class="tarjeta-producto" >
                        <ion-card class="fondoProducto">
                          <img src="{{producto.imagen}}" class="img-producto" (click)="Navigate(producto)"/>
                        </ion-card>
                        <ion-card-header>
                          <ion-card-title>{{producto.nombre}}</ion-card-title>
                          <ion-card-subtitle>Precio:{{producto.valor_produc | currency:'COP':'$':'1.0-0'}}</ion-card-subtitle>
                          <ion-col size="12"><ion-button expand="block" class="botonagregar" (click)="addItems(producto)">agregar al carrito</ion-button></ion-col>
                        </ion-card-header>
                      </ion-card>
                    </ion-row>
                  </ion-grid>
          
                </ion-col>
                <ion-col size="1"></ion-col>
              </ion-row>
            
            </ion-toolbar>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
  
</ion-content>
  <!-- ion-footer: Pie de página de la aplicación -->
<ion-footer>
  <ion-toolbar color="primary">
    <!-- Información de contacto y derechos reservados -->
    <ion-row class="navegacion">
      <ion-col size="1"></ion-col>
      <ion-col size="2">Derechos reservados</ion-col>
      <ion-col size="1">telefono</ion-col>
      <ion-col size="1">direccion</ion-col>
      <ion-col size="7"></ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>




